<div class="container">
<div style="float:left">
<h1>Задачи</h1>
</div>
<br>
<div style="float:right">
<%= button_tag "+", {id: "addform", class: "btn-primary" } %>
</div>
<br>
<br>
<br>
<% @projects1.each do |project| %>
  <h2><%= project.title %></h2>
  <% @todos1.each do |todo| %>
    <ul><li><%= todo.text %></ul>
  <% end %>
<% end %>
<% @projects2.each do |project| %>
  <h2><%= project.title %></h2>
  <% @todos2.each do |todo| %>
    <ul><li><%= todo.text %></ul>
  <% end %>
<% end %>
<% @projects3.each do |project| %>
  <h2><%= project.title %></h2>
  <% @todos3.each do |todo| %>
    <ul><li><%= todo.text %></ul>
  <% end %>
<% end %>

<br>
<div id="renderform">
  <%= render 'form' %>
</div>
